* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Add styles here! */
strong {
  color: #299966;
}
header {
  height: 50%;
}
main {
  border-top: 8px solid #afafaf;
  background-color: #666666;
  height: 50%;
}
.max-width-wrapper {
  max-width: 808px;
  margin-inline: auto;
}

.intro-chunk,
.card {
  background-color: #fff;
}

.intro-chunk {
  padding-inline: 24px;
  padding-block: 96px 64px;
  max-width: 370px;
}
.intro-chunk > p:last-child {
  max-width: 300px;
}

.title {
  padding-bottom: 24px;
}
.card {
  height: fit-content;
  margin-top: 48px;
  border-bottom: 8px solid #afafaf;
}

.card > p {
  padding: 12px 24px;
}
.heading-wrapper {
  padding-top: 4px;
}
.indented-heading {
  margin: 0;
  margin-left: -8px;
  width: fit-content;
  padding: 16px 32px;
  background-color: #ffbf00;
  border-bottom: 8px solid #cc9900;
}
